{
  "TelegramBot": {
      "enabled": false
  },
  "RepCast": {
      "enabled": true
  },
  "RepCastNAS": {
      "enabled": true
  },
  "Commands": {
      "enabled": false
  },
  "ElectionResults": {
      "enabled": true
  },
  "RaspiTempMonitor": {
      "enabled": true
  },
  "MetaEndpoints": {
      "enabled": true
  },
  "FileUploads": {
      "enabled": false
  },
  "Music": {
      "enabled": true
  },
  "RuneScape": {
      "enabled": false
  },
  "Weather": {
      "enabled": true
  },
  "YouTube": {
      "enabled": false
  },
  "Webhook": {
      "enabled": true
  },
  "Websocket": {
      "enabled": false
  },
  "WebSocketChat": {
      "enabled": false
  },
  "FileConverter": {
      "enabled": false
  }
}
