{
    "TelegramBot": {
        "enabled": false
    },
    "RepCast": {
        "enabled": false
    },
    "RepCastNAS": {
        "enabled": false
    },
    "ElectionResults": {
        "enabled": false
    },
    "RaspiTempMonitor": {
        "enabled": false
    },
    "MetaEndpoints": {
        "enabled": true
    },
    "FileUploads": {
        "enabled": false
    },
    "Music": {
        "enabled": false
    },
    "RuneScape": {
        "enabled": false
    },
    "Weather": {
        "enabled": false
    },
    "YouTube": {
        "enabled": false
    },
    "Webhook": {
        "enabled": false
    }
}
